@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*titulo 'Bebas Neue', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@900&display=swap'); /*texto 'Zen Old Mincho', serif;*/

* {
    margin: 0;
    padding: 0;
}
body {
    background-color:#fbf4ef;
}
.active {
    color: #8f001d;
}


/* Inicio grid */
.productos-grid {
    display: grid;
    grid-template-areas:
    "aside prod prod prod";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}
.contacto-grid {
    display: grid;
    grid-template-areas: 
    "map map form form";
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
}
.expendedoras-grid {
    display: grid;
    grid-template-areas: 
    "exp exp exp exp";
}
/* Fin grid */




/* Inicio header */
header {
    display: flex;
}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
}
.burger-menu {
    visibility: hidden;
    display: none;
}
nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    font-family:'Bebas Neue', cursive;
    width: 80%;
}
nav li {
    list-style-type: none;
    margin: 5px;
}
nav li a {
    text-decoration: none;
    text-align: center;
    padding: 15px;
    color: #660014;
    font-size: 1.5rem;
}
nav li a:hover {
    color: #8f001d;
    transition: .8s;
}
/* Fin header */




/* Inicio banner */
.banner {
    grid-area: banner;
    background-image: url("../img/banner.jpeg");
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
/* Fin banner */




/* Inicio main */
main {
    grid-area: main;
}
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro p {
    text-align: center;
    font-family:'Zen Old Mincho', serif;
    font-size: 30px;
}
.intro img {
    padding: 1em;
    width: 170px;
}



.opciones {
    display: grid; 
    grid-template-areas: 
    "cata1 cata2 cata3 cata4";
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: fit-content(100%);
    margin: 0 auto;
    max-width: 1600px;
    padding: 20px;
    animation-name: efecto;
    animation-duration: .5s;
}
.opciones section {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8f001d;
    border-radius: 10px;
    overflow: hidden;
}
.opciones section div {
    position: absolute;
    z-index: 2;
    height: 25%;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(251, 244, 239, 0.5);
    font-family:'Bebas Neue', cursive;
    
}
.opciones section div a {
    text-decoration: none;
    color: #1d1d1d;
    font-size: 1.7rem;
}
.opciones section div a:hover {
    color: #302e2e;
    transition: .8s;
}
.opciones section img {
    position: relative;
    width: 100%;
    height: 100%;
}
.cata1 {
    grid-area: cata1;    
}
.cata2 {
    grid-area: cata2;    
}
.cata3 {
    grid-area: cata3;    
}
.cata4 {
    grid-area: cata4;    
}
/* Fin main */




/* Inicio footer */
footer {
    padding: 30px;
    text-align: center;
    background-color: #8f001d;
    color: #fbf4ef;
}
footer h3 {
    text-decoration: underline;
    font-size: 25px;
}
/* Fin footer */




/* Inicio acerca_de_nosotros.html */
.acerca_nosotros {
    padding: 20px;
}
.acerca_nosotros div {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 2px dotted black;
    border-radius: 50%;
    overflow: hidden;
    background-image: url("../img/acerca_nos.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.acerca_nosotros p {
    padding: 5px;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 10px;
}
/* Fin acerca_de_nosotros.html */




/* Inicio expendedoras.html */
.expendedoras {
    grid-area: exp;
}
.expendedoras article {
    width: 200px;
    text-align: center;
    padding-bottom: 10px;
    border: 1px solid brown;
    margin-bottom: 15px;
}
.expendedoras article img {
    width: 200px;
    height: 200px;
}
.expendedoras article h4 {
    padding: 5px;
}
.expendedoras article a {
    color: white;
    text-decoration: none;
    background-color: #660014;
    padding: 5px;
    border-radius: 3px;
}
/* Fin expendedoras.html */




/*Inicio productos.html*/
.catalogo {
    grid-area: aside;
}
.productos_html {
    grid-area: prod;
}
.catalogo ul {
    background-color: #8f001d;
    list-style-type: disc;
    padding: 10px 0px 10px 30px;
}
.catalogo ul li a {
    color: white;
    padding: 5px;
    text-decoration: none;
}
.productos_html article {
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 10px;
    border: 2px dotted black;
}
.productos_html article div {
    width: 200px;
    height: 150px;
}
.productos_html article p {
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}
/* Fin productos.html */




/* Inicio contacto.html */
.form {
    grid-area: form;
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
}
.form h2 {
    display: none;
    visibility: hidden;
}
.contacto  section {
    display: inline-block;
}
.formulario {
    max-width: 400px;
}
.formulario form {
    padding: 20px;
    border: 2px dotted black;
}
.formulario form label {
    width: 20%;
    display: inline-block;

}
.formulario form input {
    width: 77%;
    display: inline-block;
    margin: 5px 0px 5px 0px;
}
.formulario form textarea {
    max-width: 355px;
    width: 100%;
}
#enviar {
    display: block;
    width: 100%;
    max-width: 357px;
    height: 30px;
    color: white;
    background-color: #660014;
    border-style: none;
    border-radius: 4px;
}
.contacto-map {
    grid-area: map;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
}
.contacto-map h2 {
    text-align: center;
}
.contacto-map div {
    max-width: 400px;
}
.contacto-map iframe {
    max-width: 600px;
    width: 100%;
    height: 300px;
}
.contacto-iframe h2 {
    text-align: center;
    margin: 10px;
}
/* Fin contacto */





/* Inicio KeyFrames */
@keyframes efecto {
    0% {opacity: 0;
    transform: translatey(-32px);}
    25% {opacity: 0.25;
    transform: translatey(-24px);}
    50% {opacity: 0.5;
    transform: translatey(-16px);}
    75% {opacity: 0.75;
    transform: translatey(-8px);}
    80% {opacity: 1;
    transform: translatey(0px);}
}
/* Fin KeyFrames */





/* Inicio MEDIA QUERY */
@media only screen and (min-width: 770px) and (max-width: 1700px) {
    .opciones {
        display: grid; 
        grid-template-areas: 
        "cata1 cata2" 
        "cata3 cata4";
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: fit-content(60%);
        margin: 0 auto;
        max-width: 1100px; 
        padding: 30px;
    }
    nav li a {
        font-size: 1.3rem;
    }
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
    /* Inicio grids */
    .index-grid {
        display: grid;
        grid-template-areas:
        "banner banner"
        "main main";
    }
    .opciones {
        display: grid; 
        grid-template-areas: 
        "cata1"
        "cata2"
        "cata3"
        "cata4";
        grid-gap: 20px;
        grid-template-columns: 1fr; 
        grid-template-rows: fit-content(40%); 
        margin: 20px;
        padding: 0; 
    }
    .contacto-grid {
        display: grid;
        grid-template-areas:
        "form form"
        "map map";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .productos-grid {
        display: grid;
        grid-template-areas:
        "logo nav"
        "aside aside"
        "prod prod"
        "footer footer";
    }
    .expendedoras-grid {
        display: grid;
        grid-template-areas: 
        "logo nav"
        "exp exp"
        "footer footer";
    }
    .nosotros-grid {
        display: grid;
        grid-template-areas:
        "logo nav"
        "nos nos"
        "footer footer";
    }
    /* Fin grids */




    /* Inicio banner */
    .banner {
        height: 400px;
    }
    /* Fin banner  */




    /* Inicio main/opciones */
    .intro p {
        font-size: 1.5rem;
    }
    .intro img {
        display: none;
        visibility: hidden;
    }
    /* Fin main/opciones */




    /* Inicio NAV */
    header {
        height: 80px;
    }
    .logo {
        width: 50%;
    }
    .logo img {
        padding: 14px;
    }
    nav {
        visibility: hidden;
        display: none;
    }
    .burger-menu {
        grid-area: nav;
        display: flex;
        width: 50%;
        justify-content: flex-end;
        align-items: center;
    }
    .burger-menu img {
        float: right;
        visibility: visible;
        width: 60px;
    }
    .burger-menu img:hover {
        transform: rotate(180deg);
        transition: 1.5s;
    }
    .submenu {
        position: fixed;
        width: 100%;
        height: auto;
        right: -100%;
        background-color: #fbf4ef;
        top: 80px;
        transition: all .5s;
    }
    .chequeable input {
        display: none;
    }
    .burger-menu input:checked ~ .submenu {
        right: 0;
        visibility: visible;
        display: block;
        position: absolute;
    }
    .submenu li {
        list-style-type: none;
        padding: 15px;
        text-align: center;
    }
    .submenu li:hover {
        background-color: #f3e5db;
    }
    .submenu li a {
        text-decoration: none;
        text-align: center;
        font-size: 30px;
        color: #660014;
    }
    /* Fin NAV  */




    /* Inicio contacto */
    .formulario form label {
        width: 100%;
        text-align: center;
    }
    .formulario form input {
        width: 100%;
    }
    .form {
        grid-area: form;
        display: flex;
        justify-content: center;
    }
    /* .form h2 {
        display: block;
        visibility: visible;
    } */
    .contacto-map {
        grid-area: map;
        display: flex;
        justify-content: center;
    }
    .contacto-map h2 {
        display: none;
        visibility: hidden;
    }
    .contacto-map {
        height: auto;
        padding: 1em;
    }
    /* Fin contacto */




    /* Inicio Nosotros */
    .acerca_nosotros div {
        margin: 0 auto;
        width: 300px;
        height: 300px;
    }
    .acerca_nosotros p {
        padding: 2px;
        margin-top: 20px;
        font-size: 1.2rem;
    }
    /* Fin Nosotros */
}
